article{
	font-size: 3em;
	padding: 15px;
	width: 50px;
	margin: 0 auto;
	border-top: 3px solid #C0c0c0;
}

.articleProgress{
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 0;
	background-color: #696e9e;
}

.articleProgress:: -webkit-progress-bar{
	background-color: #5e6390;
	border-radius:2px;
}

.articleProgress:: -webkit-progress-value{
	background-color: #34b399;
}

.articleProgress:: -webkit-progress-value{
	background-color: #34b399;
}

